/*
当サイトは、モバイルファースト方式とする
スマホ用のCSSはメデイアクエリの外に記述する
*/

body {
    margin-left: 2em;
    margin-right: 2em;
}

.title {
    color: brown;
}

/*=====================================
481px以上に適用されるCSS（タブレット用）
======================================*/
@media screen and (min-width: 481px) {
    
}

/*=====================================
960px以上に適用されるCSS（PC用） 
======================================*/
@media screen and (min-width: 960px) {
    
}